/* Place your example css here */
body {
    color: #222;
    font: 14px sans-serif;
    line-height: 16px;
    background-color: #eee;
}
#schedule-wrapper{
    height:470px;
    width:960px;
    overflow-x:scroll;
    overflow-y:hidden;
}
.hub-ScheduleView{
    margin-top: 30px;
    position:relative;
    overflow:hidden;
    width:960px;
    background-color:#ccc;
    height:470px;
}
div.event {
    color:white;
    position:absolute;
    border:2px solid #666;
    background-color:#222;
    overflow:hidden;
}
div.event div.event-title {
    padding:5px;
}
div.event div.event-datetime {
    padding:1px 5px;
}
div.event div.event-desc {
    white-space:nowrap;
    padding:5px;
}
div.event.event-row1 {top:0px;}
div.event.event-row0 {top:73px;}
div.event.event-row2 {top:146px;}
div.event.event-row3 {top:219px;}
div.event.event-row4 {top:292px;}
div.event.event-row5 {top:365px;}
div.event.event-row6 {top:438px;}